.navbar {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(28, 28, 28, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 99;
}
